.infoCard{
    align-items:center;
    align-self:baseline;
    background-color:white;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    grid-row: 1/3;
    grid-column: 1/1;
    justify-self:center;
    margin-top:180px;
    padding:20px 20px;
    width:max(300px,55%);
    z-index:2;
}
.infoCard--dropdown{
    align-items:center;
    display:flex;
    justify-content:space-between;
    width:100%;
}
.dropdown--arrow{
    cursor:pointer;
    transform:rotate(-90deg);
    transition:transform 300ms ease-in-out;
}
.dropdown--arrow.down{
    transform:rotate(90deg);
}
.dropdown--arrow path {
    stroke:var(--Very-Dark-Gray);
}
.infoCard--info{
    height:0px;
    transition:height 300ms ease;
}
.infoCard--info.show-Details{
    height:330px;
}
.infoCard--info .tile{
    visibility: hidden;
    opacity:0;
    transition:opacity 800ms ease;
}
.infoCard--info.show-Details .tile{
    visibility: visible;
    opacity:1;
}
.tile{
    margin-top:28px;
}
.tile>h6,.tile>h3{
    width:100%;
    text-align:center;
}
.tile > h6{
    color:var(--Dark-Gray);
    font-weight:500;
    letter-spacing:1px;
    margin-bottom:10px;
    text-transform:uppercase;
}
.tile > h3{
    color:var(--Very-Dark-Gray);
}
@media only screen and (min-width:870px){
    .infoCard{
        align-items:flex-start;
        justify-content:space-around;
        flex-direction:row;
        padding-top:28px;
        width:80%;
        max-width:1100px;
    }
    .infoCard--dropdown{
        display:none;
    }
    .infoCard--info.show-Details{
        align-items:flex-start;
        display:flex;
        height:unset;
    }
    .tile{
        margin-left:30px;
        margin-right:60px;
        margin-top:0px;
    }
    .tile>h6,.tile>h3{
        text-align:start;
    }
    .line{
        border-left:1px solid var(--Dark-Gray);
        height:75px;
        margin:auto 0;
        width:1px;
    }
}